<template name="questList">
  <div class="accordion" id="mainAccord">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#mainAccord" href="#collapseOne">
          Unanswered Questions
        </a>
      </div>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class='questions'>
          {{#each questions}}
            {{> questLI}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>